@charset "utf-8";

html {
    height: 100%;
    line-height: 25px;
}

body {
    margin: 0;
    font-family: 'Noto Serif JP', serif;
    color: #333333;
}
li {
    list-style: none;
}

.global_nav{
    height: 70px;
    position: sticky;
    top: 0;
}

.global_nav_ul {
    display: flex;
    justify-content: end;
    margin: 0 16px;
}
.global_nav_item {
    color: #333333;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 30px 10px;
    font-size: 30%;
}

/* #top start */
.top_main {
    /* NOTE: feature_imgの高さ - global_navの高さ */
    padding-top: calc(70vh - 70px);
}
.feature_img_wrapper {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature_img {
    background: url("../images/mainImg.jpg");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* PC・タブレット時 */
@media (min-width: 768px){
    .feature_img {
        width: 85%;
    }
}
/* #top end */

.vision_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

/* #message start */
/* 共通 */
.message_content {
    display: flex;
}
.message_content .message_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246,246,246);
}

/* PC・タブレット時 */
@media (min-width: 768px){
    .message_content:last-child {
        flex-direction: row-reverse;
    }
    .message_content img {
        width: 50%;
    }
    .message_content .message_text {
        width: 50%;
    }
}

/* モバイル時 */
@media (max-width: 767px){
    .message_content {
        flex-direction: column;
    }
    .message_content img {
        width: 100%;
    }
    .message_content .message_text {
        width: 100%;
    }
}
/* #message end */

/* #service start */
.section_servise {
    display: flex;
    text-align: center;
    margin-top: 3%;
}
.servise_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* NOTE: レスポンシブのまん丸にするため */
/* 参考 https://jsfiddle.net/webtiki/MpXYr/2/ */
.serivice_box_img {
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    border-radius: 50%;
}
.serivice_box_img.img_1 {
    background: url("../images/dips1.jpg");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.serivice_box_img.img_2 {
    background: url("../images/dips1.jpg");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.serivice_box_img.img_3 {
    background: url("../images/dips1.jpg");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.servise_box p{
    padding-top: 4px;
    width: 80%;
}

/* PC・タブレット時 */
@media (min-width: 768px){
    .section_servise {
        justify-content: space-around;
        margin-right: 15%;
        margin-left: 15%;
    }
}

/* モバイル時 */
@media (max-width: 767px){
    .section_servise {
        flex-direction: column;
        align-items: center;
    }
}

/* service end */

/* #story start */
.section_story {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 64%; */
    height: 350px;
    margin-top: 10%;
    background: center / cover no-repeat url(../images/bgSec04.jpg);
}
.story {
    margin: 5%;
}
.story h2 {
    text-align: center;
}
/* モバイル時 */
@media (max-width: 767px){
    .section_story {
        flex-direction: column;
    }
}
/* #story end */

/* #access start */
.section_access {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 64%; */
    height: 400px;
    margin: 10%;

}
.access {
    margin: 5%;
}

.access tr th {
    display: flex;
    justify-content: right;
    margin-right: 30px;
    height: 40px;
    align-items: center;
}
/* モバイル時 */
@media (max-width: 767px){
    .section_access {
        flex-direction: column;
        height: 80%;
        font-size: 8%;
    }
}
/* #access end */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* モバイル時 */
@media (max-width: 767px){
    footer {
        flex-direction: column;
        font-size: 8%;
    }
}
